body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #1f1f1f;
  position: sticky;
  top: 0;
}

.logo { color: #ff4757; font-weight: bold; }

#search {
  padding: 8px;
  border-radius: 6px;
  border: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 40px;
  background: linear-gradient(#1f1f1f, #0f0f0f);
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
  padding: 20px;
}

/* CARD */
.card {
  background: #1f1f1f;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
}

/* BUTTON */
button {
  background: #ff4757;
  border: none;
  padding: 6px 10px;
  color: white;
  margin: 3px;
  cursor: pointer;
}

/* VIDEO */
iframe {
  width: 90%;
  height: 300px;
  display: block;
  margin: auto;
  border-radius: 10px;
}
