body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #1f1f1f;
}

.logo {
  color: #ff4757;
  font-size: 22px;
  font-weight: bold;
}

/* HERO */
.hero {
  text-align: center;
  padding: 50px 20px;
}

.hero h1 {
  color: #ff4757;
  font-size: 26px;
}

.hero p {
  color: #aaa;
}

/* CATEGORIES */
.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.categories button {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background: #1f1f1f;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.categories button:hover {
  background: #ff4757;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
  padding: 20px;
}

/* CARD */
.card {
  background: #1f1f1f;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card button {
  margin-top: 5px;
  background: #ff4757;
  border: none;
  padding: 8px 12px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  background: #1f1f1f;
  margin-top: 20px;
  color: #aaa;
}
.about {
  padding: 30px;
  text-align: center;
}

.about h2 {
  color: #ff4757;
}

.about p {
  max-width: 800px;
  margin: auto;
  line-height: 1.7;
  color: #ccc;
}
nav {
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #ff4757;
}
